@import "~bootstrap/scss/bootstrap";
@import "../react/styles/variables.scss";

.btn-movify {
    color: white;
    background-color: #9352b3;
    &:hover, &:active, &:focus {
        filter: brightness(113%);
        color: #fff !important;
        background-color: #9352b3 !important;
    }
}