@import "~bootstrap/scss/bootstrap";
@import "../react/styles/variables.scss";
@import 'bootstrap-icons/font/bootstrap-icons.css';

.btn-movify {
    color: white;
    background-color: $mainColor;
    &:hover, &:active, &:focus {
        filter: brightness(113%);
        color: #fff !important;
        background-color: $mainColor !important;
    }
}

img {
    width: 100%;
    height: auto;
}

.wrap-paginator {
    .page-item {
        .page-link {
            color: $mainColor !important;
        }
        &.active {
            .page-link {
                background-color: $mainColor !important;
                color: white !important;
                border-color: $mainColor !important;
            }
        }
    }
}

#loader {
    z-index: 9999;
}

main {
    .vidoe {
        padding-top: 50px;
        padding-left: 230px;
        width:100%;
        min-height: 100vh;
        background-color: #fafafa;
        @media (max-width: 767px) {
            padding-left: 0;
        }
    }
    &.admin-nav-close {
        .vidoe {
            padding-left: 0;
        }
    }
}
