<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="/favicon.ico">
        {% block stylesheets %}
            {{ encore_entry_link_tags('styles/main') }}
            {{ encore_entry_link_tags('main') }}
        {% endblock %}

        <link rel="manifest" href="/build/pwa/manifest.json" />
    </head>
    <body>
        {% block body %}
            <div id="root"></div>
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('main') }}
        {% endblock %}
    </body>
</html>
